* text=auto

*.css text eof=lf
*.js text eof=lf
*.htm text diff=html
*.html text diff=html
*.yml text eof=lf
*.sh text eof=lf
*.txt text eof=lf
*.md text eof=lf
Gemfile text eof=lf
Gemfile.lock text eof=lf
Vagrantfile text eof=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.mwb binary
*.mo binary
*.ttf binary
*.pdf binary
